<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playbill</title>
  </head>
  <body>
    <div id="dynamic-content"></div>
    <script type="text/javascript">
    var req = '{{ req }}';
    var xhr = new XMLHttpRequest();
    function get() {
      xhr.open('GET', 'http://159.203.127.128:5000/ephemeralRecord/', true);
      xhr.setRequestHeader('Authorization', 'test:432671e52cf6a0fb6cd16641b0061bf008a35c90');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
          // do something to response
        document.getElementById("dynamic-content").innerHTML = this.responseText;
        console.log(this.responseText);
      };
    };

    function post() {
      xhr.open('POST', 'http://159.203.127.128:5000/ephemeralRecord/', true);
      xhr.setRequestHeader('Authorization', 'test:432671e52cf6a0fb6cd16641b0061bf008a35c90');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
          // do something to response
        document.getElementById("dynamic-content").innerHTML = this.responseText;
        console.log(this.responseText);
      };
      xhr.send('{"callNumber": "122", "archiveHoldingDocument": "London"}');
    };

    function patch() {
      xhr.open('PATCH', 'http://159.203.127.128:5000/ephemeralRecord/59515bab949e63000ba67635', true);
      xhr.setRequestHeader('Authorization', 'test:432671e52cf6a0fb6cd16641b0061bf008a35c90');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
          // do something to response
        document.getElementById("dynamic-content").innerHTML = this.responseText;
        console.log(this.responseText);
      };
      xhr.send('{"callNumber": "152", "archiveHoldingDocument": "London"}');
    };

    if (req === 'GET') {
      get();
    }
    else if (req === 'POST') {
      post();
    }
    else if (req === 'PATCH') {
      patch();
    };

    </script>
  </body>
</html>
