<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Playbill</title>
  </head>
  <body>
    <div id="dynamic-content"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js'></script>
    <script type="text/javascript" >

    var data = null;
    var key = '12345';

    var hash = CryptoJS.HmacSHA1(data, key).toString(CryptoJS.enc.Hex);
    console.log(hash);

    var xhr = new XMLHttpRequest();
    //59528615949e63000bbd45da - id for document
    // 'test:432671e52cf6a0fb6cd16641b0061bf008a35c90' authorization hash and id

    function get_resource(userid, resource_name, data) {
      xhr.open('GET', 'http://159.203.127.128:5000/' + resource_name, true);
      xhr.setRequestHeader('Authorization', userid + ":" + hash);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        document.getElementById("dynamic-content").innerHTML = this.responseText;
        console.log(this.responseText);
      };
      xhr.send(data);
    };

    function get_document_by_id(userid, resource_name, document_id, data) {
      xhr.open('GET', 'http://159.203.127.128:5000/' + resource_name + '/' + document_id, true);
      xhr.setRequestHeader('Authorization', userid + ":" + hash);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        document.getElementById("dynamic-content").innerHTML = this.responseText;
        console.log(this.responseText);
      };
      xhr.send(data);
    };

    function post_new_document(userid, resource_name, data) {
      xhr.open('POST', 'http://159.203.127.128:5000/' + resource_name, true);
      xhr.setRequestHeader('Authorization', userid + ":" + hash);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        document.getElementById("dynamic-content").innerHTML = this.responseText;
        console.log(this.responseText);
      };
      xhr.send(data);
    };

    function patch_existing_document(userid, resource_name, document_id, data) {
      xhr.open('PATCH', 'http://159.203.127.128:5000/' + resource_name + '/' + document_id, true);
      xhr.setRequestHeader('Authorization', userid + ":" + hash);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        document.getElementById("dynamic-content").innerHTML = this.responseText;
        console.log(this.responseText);
      };
      xhr.send(data);
    };

    </script>
  </body>
</html>
